.title-footer{
    background: linear-gradient(70deg, white, black);
    padding: 10px;
    color: #000;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 800px){
   .title-footer{
       font-size: .9em;
   }
}

@media screen and (max-width: 550px){
    .title-footer{
        font-size: .6em;
    }
 }

