.title-header{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    letter-spacing: 5px;
    font-weight: normal;
    margin-top: 20px;
}

@media (max-width: 800px){
    .title-header{
        font-size: 1.5em;
    }
    
}

@media (max-width: 550px){
    .title-header {
        font-size: 1.2em;
    }
}